
# needed for advanced item rendering stuff
public net.minecraft.client.renderer.ItemRenderer func_229114_a_(Lnet/minecraft/client/renderer/model/IBakedModel;Lnet/minecraft/item/ItemStack;IILcom/mojang/blaze3d/matrix/MatrixStack;Lcom/mojang/blaze3d/vertex/IVertexBuilder;)V # renderModel

public net.minecraft.client.renderer.RenderType$Type
public net.minecraft.client.renderer.RenderType$Type field_228668_S_ # renderState
public net.minecraft.client.renderer.RenderType$State field_228677_a_ # texture
public net.minecraft.client.renderer.RenderState$TextureState field_228602_Q_ # texture

# some extra weirdness for subspatial key item
public net.minecraft.entity.item.ItemEntity field_70292_b # age
public net.minecraft.entity.item.ItemEntity field_145804_b # pickupDelay

# eggs
public-f net.minecraft.client.resources.SkinManager field_152797_e # sessionService
public-f net.minecraft.client.gui.ChatLine field_74541_b # lineString
public net.minecraft.client.gui.NewChatGui field_146253_i # drawnChatLines
